$header-height :34px;
$color-border-grey : #C0C0C0;
$blue : #1a73e8;
$toolbar-height : 40px;
$formula-height:24px;
$min-width:40px;
$height-row:24px;
$width-column:120px;
$dashboard-header-height:64px;
